*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    word-spacing: 0.5%;

}

div{
    display: block;
}

.background{
    width: 100%;
    height: 730px;
    background-size: cover;
    background-image: url(../image/Backgroundbanner.png);
}
.container{
    width: 100%;
    filter: drop-shadow(0px 17px 12px rgba(0,0,0,0.06)) drop-shadow(0px 12px 7.5px rgba(0,0,0,0.03));
    background-color: #ffffff;
}
.container .main{
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;

    /* padding-left: 5%; */
}

.container .wrap{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .logo{
    max-width: 200px;
    width: 100%;

}
.container .logo img{
    width: 100%;
}

.navigation{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.navigation ul{
    list-style-type: none;
}
.navigation ul li{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #5f5f5f;
    font-weight: 500;
    font-family: "Poppins";
    text-align: center;
    padding: 0 40px 0 40px;
    font-size: 14px;
    float: left;

}
.navigation ul li a{
    text-decoration: none;
    white-space: nowrap;
    color:black;
}
.nav-icon a{
    max-width: 50px;
    /* width: 100%  ; */
}
.icons{
    display: flex;
    max-width: 101px;
    width: 100%;
    justify-content: space-between;
 }


.super{
    height: 87%;
    display: flex;
    justify-content: center;
}
.super .first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .ff{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.ff .flower{ 
    max-width: 470px;  
    margin: 0 auto;
    width: 100%; 
    text-align: center;
    font-family: "Poppins";
}

.first .flower h1{
    font-size: 50px;
    line-height: 0px;
    color: #333333;
    font-weight: 500;
    
}

.first .flower h4{
    padding-top: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 0px;
    color: #333333;
    font-weight: 400;
    text-decoration: underline;
}

.fpara{
    margin-block-start: 2em;
    text-align: center;
}
.fpara p{
    width: 481px;
    height: 117px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-family: "Roboto";

}

.button{
    max-width: 415px;
    width: 100%;
    margin: 0 ;
    display: flex;
}
.button a{
    font-weight: 500;
    font-family: "Poppins";
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button .left{
    width: 190px;
    height: 55px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ec1f2e;
    margin-right: 10px;
}

.button .right{
    width: 204px;
    height: 55px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #333333;
    text-decoration: none;
    color: #333333;
    
}

.second{
    max-width: 1270px;
    display: flex;
    justify-content: center;
    margin: 100px;
}

.second .images{
    max-width: 800px;
    width: 100%;
    height: 456px;
}

.images img{
    width: 100%;
    height: 100%;
}
.second .content{
    width: 60%; 
    padding: 0 30px;
    margin-left: 40px;
}
.content h1{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
    padding-top: 40px;
    margin-bottom: 10px;
}

.content h2{
    font-size: 35px;
    line-height: 40px;
    color: #333333;
    font-weight: 500;
    font-family: "Poppins";
}

.content p{
    width: 485px;
    height: 247px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
 
.third{
    display: flex;
}
.left-side{
    
    background-image: url(../image/img-2.png);
    background-color: #333333;
    background-size: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.part1 {
    display: flex;
}
.part1 ul{
    flex-direction: column;
}
.right-side{
    width:50%;
    background-color: #ef1f2e;
}
.right-side form{
    padding: 80px 95px 62px 90px;
}
.right-side form input{
    padding: 14px 15px;
    max-width: 258px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.right-side form textarea{
    padding: 14px 15px;
    max-width: 530px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
form > div{
    display: flex;
}
.right-side form .r1 input:nth-child(1), 
.right-side form .r2 input:nth-child(1){
    margin-right: 14px;
}

form .r3 input{
    max-width: 533px;
}
form .r4 input{
    max-width: 533px;
    height:110px;
}
.submit-button {
    display: flex;
    justify-content: flex-end;
}
.submit-button a{
    background-color: #ef1f2e;
    border: 2px solid #ffffff;
    height: 50px;
    font-size: 18px;
    border-radius: 4px;
    display: flex;
    max-width: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
.submit-button a:hover{
    background: #ffffff;
    color: #ef1f2e;
    border: 2px solid #ef1f2e
}
.left-side .consult {
    max-width: 520px;
    width: 100%;
    margin-top: 100px;
}
.left-side .consult p{
    font-size: 35px;
    color:#ffffff;
}
.left-side .consult .info p{
    font-size: 16px;
    color:#ffffff;

}
.left-side .consult hr{
    margin-bottom: 30px;
    width:500px;
}
.left-side .consult .signup{
    font-size: 25px;
    color:#ffffff;
    margin-bottom: 10px;
}
.left-side .consult .info{
    font-size: 13px;
    color:#ffffff;
    padding: 0 0;
}
.footer{
    padding: 64px;
    background-color: #ffffff;
}
.link{
    display: flex;
    justify-content: space-evenly;
}
.link .part1{
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.link .part1 .menu .sub-menu{
    font-size: 18px;
    color:#ef1f2e;
    margin-bottom: 18px;
  
}
.menu ul li{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 35px;
    color: #333333;
    font-weight: 300;
    font-family: "Roboto";
    list-style: none;
}
.part2{
    max-width: 600px;
    width: 100%;
}
.contacts p{
    font-size: 20px;
    margin-bottom: 10px;
}
.contacts p.text{
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Roboto" ,"sans-serif";
}
.Email{
    display: flex;
}
.Email input{
    padding:12px 15px;
    width: 344px;
    margin-right: 15px;
}
.Email a{
    background: #333333;
    color: #ffffff;
    height: 47px;
    border-radius: 5px;
    display: flex;
    max-width: 141px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Email a:hover{
    color: #333333;
    background: #ffffff;
    border: 2px solid #333333;
}
.social-part{
    padding-top: 30px;
}
.social-part i{
    margin-right: 34px;
    font-size: 18px;
    cursor: pointer;
}
