*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    word-spacing: 0.5%;

}

div{
    display: block;
}
.container{
    height: 75px;
    filter: drop-shadow(0px 17px 12px rgba(0,0,0,0.06)) drop-shadow(0px 12px 7.5px rgba(0,0,0,0.03));
    background-color: #ffffff;
    padding: 10px;
    /* padding-left: 5%; */
}
.main{
    max-width: 1270px;
    height: 75px;
    margin: 0 auto;
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .logo{
   max-width: 200px;
    width: 22%;

}
.logo img{
    width: 100%;
}

.navigation{
    max-width: 700px;
    width: 56%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.main .icons{
   max-width: 100px;
   width: 17%;
   display: flex;
   justify-content: space-between;
}

ul{
    list-style-type: none;
}
li{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #5f5f5f;
    font-weight: 500;
    font-family: "Poppins";
    text-align: center;
    padding: 0 40px 0 40px;
    font-size: 14px;
    float: left;

}

.background{
    height: 730px;
    background-image: url(../image/Backgroundbanner.png);
    background-size: cover;
}

.super{
    height: 87%;
    display: flex;
    justify-content: center;
}
.super .first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .ff{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.ff .flower{ 
    max-width: 470px;  
    margin: 0 auto;
    width: 100%; 
    text-align: center;
    font-family: "Poppins";
}

.first .flower h1{
    font-size: 50px;
    line-height: 0px;
    color: #333333;
    font-weight: 500;
    
}

.first .flower h4{
    padding-top: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 0px;
    color: #333333;
    font-weight: 400;
    text-decoration: underline;
}

.fpara{
    margin-block-start: 2em;
    text-align: center;
}
.fpara p{
    width: 481px;
    height: 117px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-family: "Roboto";

}

.button{
    max-width: 415px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.button a{
    font-weight: 500;
    font-family: "Poppins";
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button .left{
    width: 190px;
    height: 55px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ec1f2e;
    margin-right: 10px;
}

.button .right{
    width: 204px;
    height: 55px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #333333;
    text-decoration: none;
    color: #333333;
    
}

.second{
    max-width: 1270px;
    display: flex;
    justify-content: center;
    margin: 100px;
}

.second .images{
     width: 50%;
     height: 441px;
}

.images img{
    width: 100%;
    height: 100%;
}
.second .content{
    width: 50%; 
    margin-top: 30px;
    margin-left: 40px;

}
.content h1{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
    padding-bottom: 10px;
}

.content h2{
    font-size: 35px;
    line-height: 40px;
    color: #333333;
    font-weight: 500;
    font-family: "Poppins";
}